@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #009fb7;
    --background-color: #e5e5e5;
    --header-color: #ffffff;
    --second-color: #e7b624;
    --font-color: #111111;
    --line-color: #eee;
}
body.dark{
    --main-color: #e7b624;
    --background-color: #18191a;
    --header-color: #242526;
    --second-color: #009fb7;
    --font-color: #ffff;
    --terceira-color: #313333;
    --line-color: #888;
}
body{
    font-family: "Poppins", sans-serif;
    background: var(--background-color);
    margin: auto;
    transition: 0.8s;
    display: flex;
    justify-content: center;
   
}
.header{
    width: 100%;
    height: 85px;
    background: var(--header-color);
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--line-color);
    position: fixed;
    z-index: 1000;
}
.logo{
    width: 150px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 150px;
}
.op{
    width: 600px;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.op li{
    width: 100px;
    height: 40px;
    border-radius: 10PX;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--font-color);
}
.op li:hover{
    background: var(--main-color);
    color: #ffffff;
    border-radius: 10px;
    transition: 0.5s;
}
.ot{
    width: 150px;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.ot i{
    font-size: 30px;
    color: var(--font-color);
}
.primeira{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.caroussel{
    width: 100%;
    height: 500px;
    background: #fca2117e
}
.filtro1{
    width: 1000px;
    height: 200px;
    border-radius: 10px;
    background: var(--header-color);
    position: absolute;
    top: 50%;
}
.op2{
    width: 100%;
    height: 85px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.op2 li {
    list-style: none;
    margin: 35px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    color: var(--font-color);
}

.op2 li::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;
}

.op2 li:hover::after {
    border-bottom: 3px solid var(--main-color);
}
.bar{
    width: 100%;
    height: 115px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.ipt1{
    width: 500px;
    height: 60px;
    border: 2px solid var(--line-color);
    background: var(--terceira-color);
    outline: none;
    border-radius: 10px;
    color: var(--font-color);
    padding-left: 50px;
}
.ipt1::placeholder{
    font-weight: 700;
}
.bar i {
    font-size: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 65px;
    color: #969696;
}
.bar button{
    width: 250px;
    height: 60px;
    border: none;
    background: var(--main-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.bar button:hover{
    background: var(--second-color);
    transition: 0.4s;
}
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel .carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.carousel img {
    width: 100%;
    height: 500px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #1111113a;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    z-index: 1;
}

.carousel-btn.prev {
    left: 0;
}

.carousel-btn.next {
    right: 0;
}
 .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 20px;
        right: -80px;
        background-color: var(--header-color);
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: display 0.8s ease; /* Adicionando transição suave */
        border-radius: 10px;
    }

    .dropdown-content a {
        color: var(--font-color);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: var(--background-color);
        border-radius: 10px;
    }

    .opi1:hover .dropdown-content {
        display: block;
        transition: display 0.8s ease; /* Adicionando transição suave */
        border-radius: 10px;
    }

    /* Adicionando um estilo para manter o dropdown visível quando o mouse estiver sobre ele */
    .dropdown-content:hover {
        display: block;
        transition: display 0.8s ease; /* Adicionando transição suave */
    }
    .oq{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .card {
        width: 300px;
        height: 300px;
        margin: 0 50px;
       
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--header-color);
        padding: 20px;
        text-align: center;
        border-radius: 30px;
        color: var(--font-color);
    }

    img {
        max-width: 100%;
        height: auto;
    }
    .oq h1{
        position: absolute;
        top: 80%;
        color: var(--font-color);
    }
    .oq2{
        width: 100%;
        height: 800px;
        background: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1800px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
    .dentro{
        width: 98%;
        height: 90%;
        background: var(--second-color);
    } 
    .svg-container {
        width: 100%;
        overflow: hidden;
    } 
    .s2{
        height: 800px; /* Apenas para criar espaço para rolar */
        margin: 0;
        padding: 0;
    }
    .side-bar {
        width: 300px;
        height: 100vh;
        background: var(--header-color);
        position: fixed;
        top: 87px;
        left: 0;
        transition: left 0.3s ease; /* Adicionando transição para efeito suave */
        z-index: 10000;
    }
    
    .side-bar.active {
        left: -300px;
    }
    
    .menu-cima {
        height: 70px;
        background: var(--header-color);
        position: fixed;
        top: 87px;
        right: 0;
        left: 300px; /* Definindo a largura padrão */
        display: flex;
        justify-content: space-between;
        z-index: 100;
        align-items: center;
        transition: left 0.3s ease; /* Adicionando transição para efeito suave */
    }
    
    /* Quando .side-bar.active e .menu-cima tem a mesma largura */
    .side-bar.active + .menu-cima{
        left: 0;
    }
    .j1{
        width: 150px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .j1 i{
        font-size: 30px;
        cursor: pointer;
        margin: 10px;
        color: var(--font-color);
    }
    .j3{
        width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .j3 input {
        width: 350px;
        height: 40px;
        border: 2px solid #eee;
        background: var(--background-color);
        border: none;
        outline: none;
        border-radius: 6px;
        padding-left: 30px;color: var(--font-color);
    }
    
    .j3 i {
        font-size: 22px;
        margin-left: 5px;
        padding-right: 17.5%;
        position: absolute;
        top: 50%; 
        transform: translateY(-50%); 
        left: calc(100% - 0);
        color: #969696;
    }
    .slc1{
        font-size: 18px;
        width: 150px;
        background: transparent;
        border: none;
        color: var(--font-color);
        border-bottom: 2px solid var(--main-color);
        outline: none;
        cursor: pointer;
    }
    .slc1 option{
        width: 10px;
        background-color: var(--background-color);
        color: var(--font-color);
        padding: 10px;
        position: relative;
        border-radius: 10px;
    }
    .content-shop {
        width: calc( 100% - 400px);
        height: auto;
        min-height: calc(100vh - 210px); /* Subtrai a altura do topo */
        position: absolute;
        top: 180px;
        bottom: 0; /* Garante que o conteúdo se estenda até o final da página */
        background: #009fb700;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Permite que os elementos quebrem em várias linhas */
    }
    .op3{
        width: 100%;
        height: 200px;
        border-bottom: 2px solid var(--line-color);
    }
    .tipi{
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        transition: border-bottom 0.4s ease;
    }
    .tipi span{
        font-size: 18px;
        color: var(--font-color);
    }

    .tipi span:hover {
        border-bottom: 3px solid var(--main-color);
        transition: border-bottom 0.1s ease;
    }
    .clean {
        position: fixed;
        bottom: 0;
        width: 300px;
        height: 70px;
        border-top: 2px solid var(--line-color);
        display: flex;
         align-items: center;
         justify-content: center;
    }
    .clean button{
        width: 200px;
        height: 40px;
        background: var(--main-color);
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
    }
    .clean button:hover{
        background: var(--second-color);
        transition: 0.3s;
    }
    .restu {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--font-color);
        padding: 10px;
    }
    
    .input-container {
        position: relative;
    }
    
    .restu input {
        width: 250px; /* Subtraindo a largura do ícone */
        height: 40px;
        background: var(--header-color);
        margin: 5px;
        border: 2px solid var(--line-color);
        border-radius: 10px;
        padding-left: 10px; /* Adicionando espaço para o ícone */
    }
    
    .restu i {
        position: absolute;
        top: 19%;
        left: 82%;
        transform: translateY(-50%);
        color: #888; /* Cor do ícone */
        font-size: 20px; /* Tamanho do ícone */
    }
    .content-side {
        width: 100%;
        height: 800px;
        position: relative;
        overflow-y: auto; 
        overflow-wrap: break-word;
    }

    .card-container {
        width: 320px;
        height: 400px;
        padding-bottom: 20px;
        margin: 20px;
        display: flex;
        position: relative;
        border-radius: 5px;
        background: var(--header-color);
        overflow: hidden;
        
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .cardC {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;
        height: 100%;
      }
      .photo {
        flex: 0 0 100%;
        height: fit-content;
      }
      .photo img {
        width: 100%;
        position: absolute;
        height: 50%;
        object-fit: cover;
      }
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 25%;
        transform: translateY(-50%);
        padding: 10px;
        border-radius: 10px;
        background-color: #2e2e2ead;
        color: rgb(255, 255, 255);
        font-size: 18px;
        z-index: 1;
      }
      .prev {
        left: 0;
      }
      .next {
        right: 0;
      }
      .descrip{
        width: 100%;
        height: 215px;
        position: absolute;
        top: 185px;
        color: var(--font-color);
        padding: 10px;
        background: #009fb700;
      }

      .esp{
        color: #838383;
        position: relative;
        font-size: 14px;
        bottom: 20px;
      }
      .prec-ano{
        width: 95%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--font-color);
      }
      .prec-ano span{
        color: #838383;
        font-size: 13px;
      }
      .kaemi{
        color: #838383;
        font-size: 15px;
      }
     .km-loc{
        width: 95%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
     }
     .loc{
        color: #838383;
        font-size: 15px;
     }
     .loqui{
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
     }
     .loqui i{
        color: #838383;
     }
     .descrip button{
        width: 200px;
        height: 40px;
        border: none;
        background: var(--main-color);
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
     }
     .buttu-gostei{
        width: 94%;
        height: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     }
     .primi{
        width: 40px;
       
     }
     .goxtei{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
     }
     .goxtei i{
        font-size: 25px;
        cursor: pointer;
     }

     .centi{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
     }
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 700px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #009fb7;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #009fb7;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #009fb7;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #009fb7;
}

.signin a:hover {
  text-decoration: underline #009fb7;
}

.flex {
  display: flex;
  width: 100%;
  margin-top: 25px;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 225px;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #009fb7;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(41, 150, 177);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.formL {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }

  
  .title {
    font-size: 30px;
    color: #009fb7;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #009fb7;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #009fb7;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #009fb7;
  }
  
  .signin a:hover {
    text-decoration: underline #009fb7;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .formL label {
    position: relative;
    margin-left: 40px;
  }
  
  .formL label .input {
    width: 85%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .formL label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .formL label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .formL label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .formL label .input:valid + span {
    color: green;
  }
  
  .submitL {
    border: none;
    outline: none;
    background-color: #009fb7;
    padding: 20px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submitL:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  .formLc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }

  
  .title {
    font-size: 30px;
    color: #009fb7;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #009fb7;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #009fb7;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #009fb7;
  }
  
  .signin a:hover {
    text-decoration: underline #009fb7;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .formLc label {
    position: relative;
    margin-left: 40px;
  }
  
  .formLc label .input {
    width: 85%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .formLc label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .formLc label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .formLc label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .formLc label .input:valid + span {
    color: green;
  }
  
  .submitL {
    border: none;
    outline: none;
    background-color: #009fb7;
    padding: 20px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submitL:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }